@media screen and (max-width: 1170px){
    .section-home-appliances .row-4-column{
        justify-content: center;
    }

    .section-home-appliances .row-4-column__col {
        width: calc(36% - 50px);
    }
}

@media screen and (max-width: 1260px){

}


@media screen and (max-width: 1000px){
    .reason-purchase p{
        width: 87%;
    }
}

@media screen and (max-width: 900px){
    .about-schaub__description {
        width: 100%;
        margin-right: 0;
    }
    .about-schaub{
        flex-direction: column;
    }
    .about-schaub__img{
        margin-top: 30px;
    }



    .wrapper-reason-purchase .row-4-column__col {
        width: calc(50%  - 50px);
    }
    .reason-purchase{
        margin-bottom: 30px;
    }
    .wrapper-reason-purchase{
        margin-top: 50px;
    }
    .section-home-appliances {
        margin-top: 30px;
    }


}

@media screen and (max-width: 880px){
    .section-home-appliances .row-4-column__col {
        width: calc(50% - 50px);
    }
}
@media screen and (max-width: 660px){
    .section-home-appliances .row-4-column__col {
        width: calc(65% - 50px);
    }
    .wrapper-home-appliances__img{
        width: 60%;
    }

}

@media screen and (max-width: 450px){
    .wrapper-reason-purchase .row-4-column__col {
        width: calc(100%  - 50px);
    }
    .section-home-appliances .row-4-column__col {
        width: calc(100% - 50px);
    }
}