

@media screen and (max-width: 1260px){
    .section-home-appliances .row-4-column{
        justify-content: center;
    }

    .section-home-appliances .row-4-column__col {
        width: calc(36% - 50px);
    }

    .section-capture-form__input {
        display: flex;
        flex-wrap: wrap;
        width: 78%;
        justify-content: center;
        margin: 20px auto 0;
    }

    .section-capture-form button{
        width: calc((100% - 180px) / 3);
        min-width: 280px;
    }
    .section-capture-form input:nth-child(2){
        margin-right: 0;
    }

    .section-capture-form input{
        width: 37%;
    }


    .section-capture-form h3{
        text-align: center;
    }

    .section-capture-form p{
        text-align: center;
    }
}

@media screen and (max-width: 1130px){
    .section-capture-form__input{
        flex-direction: column;
        align-items: center;
    }

    .section-capture-form input{
        margin-right: 0!important;
        width: 70%;
    }
    .section-capture-form button{
        width: 70%;
    }
}

@media screen and (max-width: 1020px){
    .advantages-item__img{
        display: none;
    }
    .advantages-item:first-child .advantages-item__description{
        background: url("../img/GerQuality3media.jpg")center no-repeat;
        background-size: cover;
    }
    .advantages-item:nth-child(2) .advantages-item__description{
        background: url("../img/OnlineConcmedia.jpg")center no-repeat;
        background-size: cover;
    }

    .advantages-item__description{
        width: 70%;
        margin-left: 0;
    }




}
@media screen and (max-width: 1000px){
    .reason-purchase p{
        width: 87%;
    }
}

@media screen and (max-width: 900px){
    .about-schaub__description {
        width: 100%;
        margin-right: 0;
    }
    .about-schaub{
        flex-direction: column;
    }
    .about-schaub__img{
        margin-top: 30px;
    }



    .wrapper-reason-purchase .row-4-column__col {
        width: calc(50%  - 50px);
    }
    .reason-purchase{
        margin-bottom: 30px;
    }
    .wrapper-reason-purchase{
        margin-top: 50px;
    }
    .section-home-appliances {
        margin-top: 30px;
    }


}

@media screen and (max-width: 880px){
    .section-home-appliances .row-4-column__col {
        width: calc(50% - 50px);
    }

}

@media screen and (max-width: 800px){



}
@media screen and (max-width: 660px){
    .section-home-appliances .row-4-column__col {
        width: calc(65% - 50px);
    }
    .wrapper-home-appliances__img{
        width: 60%;
    }
    .wrapper-how-buy{
        flex-direction: column;
    }
    .wrapper-how-buy__img{
        margin-right: 0;
        min-width: 160px;
        margin-bottom: 15px;
    }
    .wrapper-how-buy__mark-buyer{
        width: 100%;
    }



}

@media screen and (max-width: 590px){
    .advantages-item__description{
        width: 100%;
    }
    .group-kitchen-equipment__icon{
        flex-shrink: 0;
    }
    .group-kitchen-equipment{
        margin-left: 0;
    }

}

@media screen and (max-width: 450px){
    .wrapper-reason-purchase .row-4-column__col {
        width: calc(100%  - 50px);
    }
    .section-home-appliances .row-4-column__col {
        width: calc(100% - 50px);
    }
    .wrapper-how-buy__list li:before{
        width: 10px;
        height: 10px;
        margin-right: 10px;
    }
}

































