@media screen and (max-width: 1170px){

}

@media screen and (max-width: 1260px){
    .section-home-appliances .row-4-column{
        justify-content: center;
    }

    .section-home-appliances .row-4-column__col {
        width: calc(36% - 50px);
    }
}

@media screen and (max-width: 1020px){
    .advantages-item__img{
        display: none;
    }
    .advantages-item:first-child .advantages-item__description{
        background: url("../img/GerQuality3media.jpg")center no-repeat;
        background-size: cover;
    }
    .advantages-item:nth-child(2) .advantages-item__description{
        background: url("../img/OnlineConcmedia.jpg")center no-repeat;
        background-size: cover;
    }

    .advantages-item__description{
        width: 70%;
        margin-left: 0;
    }



}
@media screen and (max-width: 1000px){
    .reason-purchase p{
        width: 87%;
    }
}

@media screen and (max-width: 900px){
    .about-schaub__description {
        width: 100%;
        margin-right: 0;
    }
    .about-schaub{
        flex-direction: column;
    }
    .about-schaub__img{
        margin-top: 30px;
    }



    .wrapper-reason-purchase .row-4-column__col {
        width: calc(50%  - 50px);
    }
    .reason-purchase{
        margin-bottom: 30px;
    }
    .wrapper-reason-purchase{
        margin-top: 50px;
    }
    .section-home-appliances {
        margin-top: 30px;
    }


}

@media screen and (max-width: 880px){
    .section-home-appliances .row-4-column__col {
        width: calc(50% - 50px);
    }

}
@media screen and (max-width: 660px){
    .section-home-appliances .row-4-column__col {
        width: calc(65% - 50px);
    }
    .wrapper-home-appliances__img{
        width: 60%;
    }
    .wrapper-how-buy{
        flex-direction: column;
    }
    .wrapper-how-buy__img{
        margin-right: 0;
        min-width: 160px;
        margin-bottom: 15px;
    }
    .wrapper-how-buy__mark-buyer{
        width: 100%;
    }



}

@media screen and (max-width: 590px){
    .advantages-item__description{
        width: 100%;
    }
    .group-kitchen-equipment__icon{
        flex-shrink: 0;
    }
    .group-kitchen-equipment{
        margin-left: 0;
    }

}

@media screen and (max-width: 450px){
    .wrapper-reason-purchase .row-4-column__col {
        width: calc(100%  - 50px);
    }
    .section-home-appliances .row-4-column__col {
        width: calc(100% - 50px);
    }
    .wrapper-how-buy__list li:before{
        width: 10px;
        height: 10px;
        margin-right: 10px;
    }
}





dd




dd










.about-schaub {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.about-schaub__description {
    width: 70%;
    margin-right: 25px;
}
.about-schaub__img {
    position: relative;
    width: calc(100% - 70% - 25px);
}
.about-schaub__img-item {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.about-schaub__img-item::before {
    content: "";
    display: block;
    padding-top: 80%;
}


.wrapper-reason-purchase .row-4-column {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.wrapper-reason-purchase .row-4-column__col {
    position: relative;
    width: calc(25% - 50px);
    margin-left: 15px;
    margin-right: 15px;
}


.reason-purchase__item {
    margin-top: 40px;
    /*display: flex;
    align-items: center;
    justify-content: space-around;*/
}
.reason-purchase {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reason-purchase p {
    padding: 0;
    width: 70%;
    text-align: center;
}
.reason-purchase__icon {
    width: 70px;
    margin-bottom: 20px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



.section-home-appliances {
    margin-top: 70px;
}
.row-4-column {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.row-4-column__col {
    position: relative;
    width: calc(25% - 50px);
    margin-left: 15px;
    margin-right: 15px;
}
.wrapper-home-appliances {
    margin-top: 20px;
}
.wrapper-home-appliances__item {
    padding: 30px 10px 40px 10px;
    box-shadow: 0 0 5px 2px #c7c3c3;
    background-color: rgba(199, 193, 193, 0.1);
    margin-bottom: 30px;
}
.wrapper-home-appliances__img {
    position: relative;
    width: 80%;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.wrapper-home-appliances__img:before {
    content: "";
    display: block;
    padding-top: 80%;
}
.wrapper-home-appliances__description {
    text-align: center;
    font-size: 22px;
    width: 90%;
    margin: 20px auto 0!important;
    padding:0!important;
}




.advantages-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.advantages-item__img {
    /*margin-left: -21px;*/
    position: relative;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100% - 50%);
    flex-shrink: 0;
}
.advantages-item__img img {
    height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.advantages-item__img:before {
    content: "";
    display: block;
    padding-top: 77%;
}
.advantages-item__description {
    position: relative;
    margin-left: -20px;
    z-index: 2;
    background: #fff;
    width: 50%;
    box-shadow: 0 0 5px 3px #a19e9e;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.advantages-item__description p {
    line-height: 22px;
}
.advantages-item__description h3 {
    margin-bottom: 20px;
}



.section-how-buy {
    margin-top: 50px;
}
.wrapper-how-buy {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.wrapper-how-buy__img {
    width: 30%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 50px;
    flex-shrink: 0;
}
.wrapper-how-buy__img:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.wrapper-how-buy__description p {
    /*padding: 0!important;*/
}
.wrapper-how-buy__description h3 {
    margin-bottom: 20px;
    font-size: 16px;
}
.wrapper-how-buy__list {
    list-style: none;
    line-height: normal!important;
    padding: 0!important;
}
.wrapper-how-buy__list li {
    display: flex;
    position: relative;
}
.wrapper-how-buy__list li:not(:last-child) {
    margin-bottom: 13px;
}
.wrapper-how-buy__list li:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: #bdb7b7;
    margin-right: 20px;
    border-radius: 50%;
    flex-shrink: 0;
    margin-top: 3px;
}
.wrapper-how-buy__mark-buyer {
    width: 80%;
    margin: 30px auto 0;
    padding: 20px;
    box-shadow: 0 0 4px 1px #dcd7d7;
    background: rgba(232, 228, 228, 0.1);
    border-radius: 5px;
}
.wrapper-how-buy__mark-buyer p {
    line-height: 23px;
}
.wrapper-how-buy__mark-buyer p:last-child {
    padding: 0!important;
}



.section-kitchen-equipment {
    margin-top: 40px;
}
.group-kitchen-equipment {
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 20px;
}
.group-kitchen-equipment__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.group-kitchen-equipment__icon {
    margin-right: 15px;
    width: 33px;
    height: 33px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.group-kitchen-equipment__description {
    padding: 0;
}
.another-list {
    line-height: 24px;
}

.section-place-purchase {
    margin-top: 30px;
}
.wrapper-place-purchase {
    width: 100%;
    margin: 30px auto 0;
    padding: 20px;
    box-shadow: 0 0 4px 1px #dcd7d7;
    background: rgba(232, 228, 228, 0.1);
    border-radius: 5px;
    line-height: 24px;
}

.wrapper-home-appliances a:focus,
.wrapper-home-appliances a:hover,
.wrapper-home-appliances a:link,
.wrapper-home-appliances a:active {
    outline: none!important;
    text-decoration: none!important;
    outline-width: 0;
}
.wrapper-home-appliances a:hover {
    text-decoration: none!important;
}
.wrapper-home-appliances p {
    color: #101010;
}

.wrapper-home-appliances__item {
    display: block;
    transition: all 200ms linear 0ms;
    cursor: pointer;
}
.wrapper-home-appliances__item:hover {
    box-shadow: 0 0 9px 6px #c7c3c3;
    transition: box-shadow 200ms linear 0ms;

}



























